.controlsContainer {
  width: 35vw;
  height: 100vh;
  padding: 2vh 2vw 20vh 2vw;
  // overflow-y: scroll;
  background-color: white;
  position: relative;
}

.github-corner:hover .octo-face{display: inline;}.github-corner .octo-face{display: none;}.github-corner:hover .octo-eye{animation: octocat-blink 560ms ease-in-out;}@keyframes octocat-blink{0%, 25%, 100%{transform: scale(1);}60%{transform: scale(0, 0);}85%{transform: scale(.8, .8);}}@media (max-width: 500px){.github-corner:hover .octo-eye{animation: none;}.github-corner .octo-eye{animation: octocat-blink 560ms ease-in-out;}}